## Whats happening in the Business?

# 2 big Problem
 - Stockouts -High-demand items run out.
 - Overstock - Slow-moving items are ordered too much.

## My approach steps for this project

##### Step 1 : I would like to have some understanding about
- how inventory is managed in hotel bars
- what generally causes stockout, overstocks 
- what decisions managers actually make (ordering frequency, lead time, par levels).

##### Step 2 : using the data provided to me , i need to indentify 
- trasactions represent true demand 
- and try to aggregate them into a time series per item per location

##### Step 3 : need to provide an output to recommend how the bar should keep up to avoid running out
- forcast item level demand
- convert forcast into recommended inventory target using lead time
- also make sure to control stockouts while controlling overstock

##### Step 4 : Then proceed with simualting and prove how my system works in day2day operations
- how demand happens?
- how inventory can be reduced?
- reorder triggers when essential?
- arrival of stock after lead time
- measure stockouts & overstock

In [ ]:
df = pd.read_csv("../Dataset/ds.csv") # load the dataset

#### Understanding the Dataset

In [ ]:
df.sample(5, random_state=42) # random 5

,Date Time Served,Bar Name,Alcohol Type,Brand Name,Opening Balance (ml),Purchase (ml),Consumed (ml),Closing Balance (ml)
611,2/1/2023 17:55,Thomas's Bar,Beer,Heineken,3408.67,0.00,161.26,3247.41
4442,9/3/2023 20:44,Brown's Bar,Rum,Malibu,915.74,1128.74,417.71,1626.77
1419,3/18/2023 16:36,Anderson's Bar,Wine,Sutter Home,6471.43,0.00,571.38,5900.05
5583,11/7/2023 12:40,Johnson's Bar,Rum,Bacardi,1882.43,0.00,524.11,1358.32
3094,6/19/2023 12:29,Brown's Bar,Rum,Bacardi,4325.25,0.00,308.83,4016.42

In [ ]:
df.info() # basic info check on the ds

# 8 cols in total
# 4 str dtype
# 4 float vals
# no null values
# 6575 records in Total (small medium dataset size)

<class 'pandas.DataFrame'>
RangeIndex: 6575 entries, 0 to 6574
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Date Time Served      6575 non-null   str
 1   Bar Name              6575 non-null   str
 2   Alcohol Type          6575 non-null   str
 3   Brand Name            6575 non-null   str
 4   Opening Balance (ml)  6575 non-null   float64
 5   Purchase (ml)         6575 non-null   float64
 6   Consumed (ml)         6575 non-null   float64
 7   Closing Balance (ml)  6575 non-null   float64
dtypes: float64(4), str(4)
memory usage: 411.1 KB

### Key Observations (from initial inspection)

- Date column is stored as a Str type needs converstion
- The dataset is at transaction level (time is included), meaning multiple rows can exist per day for the same bar and brand. These are not duplicates. For forecasting, we will aggregate to daily demand per Bar Ã— Brand.
- Based on the Dataset Size 6375 records (sufficent for a baseline model) i can conclude that Deep learning is not nessasry it would likely overcomplicate the solution.